<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_grok_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_grok_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliveryEarningTracker"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4623148515468491~6606167723" />
        <activity
            android:name=".ExportActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.DeliveryEarningTracker"
            android:label="@string/label_esportazione"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Aggiungi ImageRecognitionActivity -->
        <activity
            android:name=".ImageRecognitionActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:label="@string/label_inserimento_ordine">

            <!-- Puoi aggiungere intent-filter se necessario, ma non è obbligatorio per questa attività -->
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/label_impostazioni"
            android:screenOrientation="sensorPortrait"
            android:exported="false"/>
        <activity
            android:name=".PDFImport"
            android:label="@string/label_importazone_statino"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ShowMontlyStatement"
            android:label="@string/label_visualizza_statino"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".TrimestreActivity"
            android:label="@string/label_trimestrale"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".AnnoActivity"
            android:label="@string/label_annuale"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".RiconciliazioneActivity"
            android:label="@string/label_riconciliazione"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ErrorOrdersActivity"
            android:label="@string/label_ordini_errati"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/help_title"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".InviteFriendActivity"
            android:label="@string/invite_friend_title"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
    </application>

</manifest>